// Extra small	xs	small to large handset	< 600px
// Small	sm	small to medium tablet	600px > < 960px
// Medium	md	large tablet to laptop	960px > < 1264px*
// Large	lg	desktop	1264px* > < 1904px*
// Extra large	xl	4k and ultra-wides	> 1904px*

$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;
// $xl: 600px;

$red: red;

$primary: #00887a; // navy blue
$primaryFontColor: #2b4266; // font navy blue; font color on the overview screen
$secondary: #77a6f7; // dark navy blue; this is the selected state of the link
$secondaryFontColor: #112d32; // font gray; font color on the master screen for the muted text
// $secondaryFontColor: #1e4258; // font gray; font color on the master screen for the muted text
$tertiary: #355280; // light navy blue; this is for the expanded state of the menu item
$tertiaryFontColor: #333333; // Gaurav modi black
$accent: #f3d250; // neon blue
$error: #ff5d5d; // red
$background: #00887a13;

// $primary: #2B4266; // navy blue
// $primaryFontColor: #2B4266; // font navy blue; font color on the overview screen
// $secondary: #20324D; // dark navy blue; this is the selected state of the link
// $secondaryFontColor: #aaacb2; // font gray; font color on the master screen for the muted text
// $tertiary: #355280; // light navy blue; this is for the expanded state of the menu item
// $tertiaryFontColor: #333333; // Gaurav modi black
// $accent: #3DFFE5; // neon blue
// $error: #FF5D5D; // red
