// .card-wrapper {
//   padding: 10px;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
//   grid-gap: 16px;
//   @include custom-max(425px) {
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   }
// }
body {
	font-family: "Montserrat", sans-serif;
}
.v-application {
	font-family: "Montserrat", sans-serif;
}
// body {
// 	font-family: "Poppins", sans-serif !important;
// }
// .v-application {
// 	font-family: "Poppins", sans-serif !important;
// }
.card-wrapper {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: max-content;

	@include custom-max(1050px) {
		grid-template-columns: 50% 50%;
	}
	@include custom-max(767px) {
		grid-template-columns: 100%;
	}
}

.card-element {
	margin: 10px;
}

.floating-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.color-secondary {
	color: $secondaryFontColor;
}

// Calculating height to give content height
.tabItemWrapper .v-window-item {
	height: 100%;
}

.tertiary-font-color {
	color: $tertiaryFontColor;
}

.table-expanded-background {
	background-color: #f4f4f4;
}

.primary-background-color {
	background-color: $background;
}

.fw-600 {
	font-weight: 600;
}

// Done mainly for Representing partner Employees Modal (On Card Expansion)
.v-dialog {
	background-color: white;
}
